* {
  box-sizing: border-box; }

body, html {
  background-color: #22313f;
  font-family: 'Arvo', sans-serif;
  height: 100%; }

body {
  overflow-x: hidden; }

.topbar {
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  width: 100%;
  color: #22313f; }
  .topbar .glyphicon {
    padding-top: 5px;
    cursor: pointer;
    transition: color .6s ease; }
    .topbar .glyphicon:hover {
      color: #f7ca18; }
  .topbar .user-controls button {
    color: #22313f;
    background: none;
    border: none;
    padding: 0;
    transition: all .6s ease; }
    .topbar .user-controls button:hover {
      color: #f7ca18; }
    .topbar .user-controls button:focus {
      outline: none; }

.navibar {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background-color: #f7ca18;
  width: 320px;
  border: none;
  transition: transform .6s ease;
  transform: translate3d(-100%, 0, 0);
  position: fixed;
  height: 100%;
  z-index: 1000; }
  .navibar.show {
    transform: translate3d(0, 0, 0); }
  .navibar .glyphicon-heart, .navibar .glyphicon-heart-empty {
    position: absolute;
    margin-right: 0%; }
  .navibar .heart-span {
    margin-left: 20%; }
  .navibar .header {
    margin-left: 5%;
    color: #22313f;
    font-size: 2.4em;
    position: relative;
    margin-bottom: 15%; }
    .navibar .header:first-child {
      margin-top: 5%; }
    .navibar .header .glyphicon {
      font-size: .8em;
      position: absolute;
      right: 8%;
      top: 21%;
      cursor: pointer; }
  .navibar .list-wrapper {
    overflow: hidden; }
    .navibar .list-wrapper ul {
      top: 0px;
      position: relative;
      -webkit-transition: top .6s linear; }
      .navibar .list-wrapper ul.hide_sub {
        top: -300px; }
  .navibar li {
    padding-left: 10px;
    overflow-x: visible;
    list-style: none;
    margin-bottom: 15%;
    font-size: 1.8em;
    cursor: pointer;
    position: relative; }
    .navibar li span {
      margin-right: 8%; }
    .navibar li .underline-decorator {
      width: 0%;
      border-bottom: 4px solid #22313f;
      -webkit-transition: width 1s ease .15s; }
    .navibar li:hover .underline-decorator {
      width: 102%; }
    .navibar li:hover .glyphicon-heart, .navibar li:hover .glyphicon-heart-empty {
      -webkit-animation: heart-beat 1s infinite; }

.main-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: transform .6s ease; }
  .main-content.show {
    transform: translate3d(320px, 0, 0); }

.shroud {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  background-color: black;
  cursor: pointer;
  opacity: 0;
  visibility: hidden; }
  .shroud.show {
    visibility: visible;
    -webkit-animation: fade-over 1s 1;
    -webkit-animation-fill-mode: forwards; }

.infobar {
  border-right: 1px solid rgba(255, 255, 255, 0.5); }
  .infobar div {
    font-size: 4em;
    color: #f7ca18;
    margin-bottom: 10%; }
  .infobar div:first-child {
    margin-top: 75%; }

.logo {
  font-size: 7em;
  text-align: center;
  color: #f7ca18; }

.secondary-slogan {
  text-align: center;
  color: #f7ca18;
  font-size: 3em;
  margin-top: 5%; }

.logo-image {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  z-index: 500; }

@-webkit-keyframes fade-over {
  0% {
    opacity: 0; }
  100% {
    opacity: .7; } }
@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
