* {
  box-sizing: border-box; }

body, html {
  background-color: #22313f;
  font-family: 'Arvo', sans-serif;
  height: 100%; }

body {
  overflow-x: hidden; }

modal {
  visibility: hidden;
  transition: visibility .6s linear;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  modal > div:first-child {
    height: 100%;
    width: 100%;
    position: relative; }

.my-modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity .6s ease; }
  .my-modal-backdrop.show-modal-backdrop {
    opacity: .7; }

.my-modal-dialog {
  background-color: #bebebe;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  margin: 0 20%;
  width: 60%;
  z-index: 1001;
  transform: translate3d(0, -100%, 0);
  transition: transform .4s ease; }
  .my-modal-dialog.show-modal-dialog {
    transform: translate3d(0, 30%, 0); }

.topbar {
  height: auto;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 2em;
  width: 100%;
  color: #22313f; }
  .topbar .glyphicon {
    padding-top: 5px;
    cursor: pointer;
    transition: color .6s ease; }
    .topbar .glyphicon:hover {
      color: #f7ca18; }
  .topbar .user-controls button {
    color: #22313f;
    background: none;
    border: none;
    padding: 0;
    transition: all .6s ease; }
    .topbar .user-controls button:hover {
      color: #f7ca18; }
    .topbar .user-controls button:focus {
      outline: none; }

.navibar {
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background-color: #f7ca18;
  width: 300px;
  border: none;
  transition: transform .6s ease;
  position: absolute;
  height: 100%; }
  .navibar * {
    direction: ltr; }
  .navibar .glyphicon-heart, .navibar .glyphicon-heart-empty {
    position: absolute;
    margin-right: 0%; }
  .navibar .heart-span {
    margin-left: 20%; }
  .navibar .header {
    margin-left: 5%;
    color: #22313f;
    font-size: 2.4em;
    position: relative;
    margin-bottom: 9%; }
    .navibar .header:first-child {
      margin-top: 3%; }
    .navibar .header .glyphicon {
      font-size: .8em;
      position: absolute;
      right: 8%;
      top: 21%;
      cursor: pointer; }
  .navibar .list-wrapper {
    overflow: hidden; }
    .navibar .list-wrapper ul {
      top: 0px;
      position: relative;
      -webkit-transition: top .6s linear; }
      .navibar .list-wrapper ul.hide_sub {
        top: -300px; }
  .navibar li {
    padding-left: 10px;
    overflow-x: visible;
    list-style: none;
    margin-bottom: 12%;
    font-size: 1.8em;
    cursor: pointer;
    position: relative; }
    .navibar li span {
      margin-right: 8%; }
    .navibar li .underline-decorator {
      width: 0%;
      border-bottom: 4px solid #22313f;
      -webkit-transition: width 1s ease .15s; }
    .navibar li:hover .underline-decorator {
      width: 102%; }
    .navibar li:hover .glyphicon-heart, .navibar li:hover .glyphicon-heart-empty {
      -webkit-animation: heart-beat 1s infinite; }

.main-content {
  background-color: #22313f;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .6s ease; }
  .main-content.show {
    transform: translate3d(300px, 0, 0); }

.shroud {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
  background-color: black;
  cursor: pointer;
  opacity: .7; }
  .shroud.ng-hide-add, .shroud.ng-hide-remove {
    display: block !important; }
  .shroud.ng-hide-add {
    -webkit-animation: fade-over .6s 1 forwards;
    -webkit-animation-direction: reverse; }
  .shroud.ng-hide-remove {
    -webkit-animation: fade-over .6s 1 forwards; }

.infobar {
  border-right: 1px solid rgba(255, 255, 255, 0.5); }
  .infobar div {
    font-size: 4em;
    color: #f7ca18;
    margin-bottom: 10%; }
  .infobar div:first-child {
    margin-top: 75%; }

.logo {
  font-size: 7em;
  text-align: center;
  color: #f7ca18; }

.secondary-slogan {
  text-align: center;
  color: #f7ca18;
  font-size: 3em;
  margin-top: 5%; }

.logo-image {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  max-width: 100%; }

@-webkit-keyframes fade-over {
  0% {
    opacity: 0; }
  100% {
    opacity: .7; } }
@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.4); }
  100% {
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=styles.css.map */
