$navbar-list-bottom-margin: 15%;
$navbar-list-right-margin: 8%;
$primary-dark: rgb(34, 49, 63);

body, html {
    height: 100%;
    width: 100%;
    background-color: $primary-dark;
    font-family: 'Arvo', sans-serif;
}

.navbar {
    background-color: rgb(247, 202, 24);
    height: 100%;
    width: 17%;
    min-width: 100px;
    position: fixed;
    h2 {
        margin-left: 7%;
        color: rgb(34, 49, 63);
        font-size: 2.2em;
        &:hover {
        }
        margin-bottom: 16%;
    }
    li {
        list-style: none;
        margin-bottom: $navbar-list-bottom-margin;
        font-size: 1.8em;
        cursor: pointer;
        span {
            margin-right: $navbar-list-right-margin;
        }
        .underline-decorator { 
            width: 0%;
            border-bottom: 4px solid $primary-dark;
            -webkit-transition: width 1s ease .2s;
        }
        &:hover .underline-decorator{
            width: 100%;
        }
    }
}