<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Log</title>

    <!-- Bootstrap -->
    <link href="/frontend/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/styles.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/frontend/img/favicon.png" />
  </head>
  <body ng-app="app" ng-controller="MainCtrl as main">
    <div class="navibar" ng-controller="NavbarCtrl as nav" ng-class="{show: main.displayNavbar}">
      <div class="header">Exercises<span class="glyphicon glyphicon-minus"  ng-click="nav.toggleSubmenu('displayExercise')"></span></div>
      <ul ul-toggler ng-class="{hide_sub: nav.displayExercise}">
        <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Create
          <div class="underline-decorator">
          </div>
        </li>
        <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Find
          <div class="underline-decorator">
          </div>
        </li>
        <li><span class="glyphicon glyphicon-heart-empty"></span>
          <span class="heart-span"> My Exercises </span>
          <div class="underline-decorator">
          </div>
        </li>
      </ul>
      <div class="header">Workouts  <span class="glyphicon glyphicon-minus"></span></div>
      <ul>
        <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Create
          <div class="underline-decorator">
          </div>
        </li>
        <li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Find
          <div class="underline-decorator">
          </div>
        </li>
        <li><span class="glyphicon glyphicon-heart"></span>
          <span class="heart-span"> My Workouts </span>
          <div class="underline-decorator">
          </div>
        </li>
      </ul>
      <div class="header">Profile  <span class="glyphicon glyphicon-minus"></span></div>
      <ul>
        <li style="margin-bottom: 0"> <span class="glyphicon glyphicon-user"></span>
          My Profile
          <div class="underline-decorator">
          </div>
        </li>
      </ul>
    </div>
    <modal class="my-modal" ng-show="main.displayModal" ng-click="main.toggleModal()">
    </modal>
    <div class="main-content" ng-class="{show: main.displayNavbar}">
      <div class="shroud" ng-click="main.toggleNavbar()" ng-show="main.displayNavbar">
      </div>
      <div class="topbar">
        <div class="container-fluid">
          <div class="col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-0">
            <span class="glyphicon glyphicon-align-justify" ng-click="main.toggleNavbar()"></span>
          </div>
          <div class="col-lg-offset-6 col-lg-4 col-sm-6 col-sm-offset-4 col-xs-12">
            <span class="user-controls"> 
              <button ng-click="main.toggleModal()">Login </button> | <button> Signup </button> | <button> About </button>
            </span>
          </div>
        </div>
        <!-- <span class="slogan"> -->
        <!--   Plan | Train | Analyze | Repeat -->
        <!-- </span> -->
      </div>
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-xs-12 col-md-3 infobar"> -->
          <!--   <div> <span> 874 Athletes. </span> </div> -->
          <!--   <div> <span> 192 Exercises. </span> </div> -->
          <!--   <div> <span> 352 Workouts. </span> </div> -->
          <!--   <div> <span> 0 Excuses. </span> </div> -->
          <!-- </div> -->
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="logo" style="margin-top: 10%"> Workout </div>
            <img class="logo-image" alt="" src="/frontend/img/logo.svg"/>
            <div class="logo"> Logger </div>
            <div class="secondary-slogan">
              A fitness companion for the 21st century 
            </div>
          </div>
        </div>
        <div class="row footer">
          
        </div>
      </div>
    </div>
    <!-- other app view goes here -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/frontend/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/frontend/app.js"></script>
  </body>
</html>
